{{#> core/main }}
<div class=" my-auto row row-cols-1 row-cols-md-2 row-cols-xl-2 justify-content-center">
    <section class="col text-center">
        <h1 class="display-5 fw-bold">Home</h1>
        <p class="fs-5 fw-normal mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ea assumenda quam quis unde soluta
            aliquam? Esse maxime soluta modi sequi magni! Officia id perspiciatis ullam qui libero atque illo.
        </p>
        <a
            href="/animations"
            class="btn btn-lg btn-light fw-bold"
        >Learn more</a>
        <form
            class="d-flex"
            role="search"
        >
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
            >
            <button
                class="btn btn-outline-success"
                type="submit"
            >Search</button>
        </form>
    </section>
</div>
{{/core/main}}