{{#> core/main}}
<main class="container mb-auto">
    <h1>
        edit animación
    </h1>
    <section class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
        <form class="col">
            <fieldset class="">
                <legend>
                    nombre
                </legend>
                <div class="form-floating mb-3 ">
                    <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        placeholder="name"
                    >
                    <label for="floatingInput">nombre</label>
                </div>
            </fieldset>

            <div class="form-floating mb-3">
                <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                >
                <label for="floatingPassword">genero</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                >
                <label for="floatingInput">año</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                >
                <label for="floatingPassword">autor</label>
            </div>


        </form>
    </section>

</main>

{{/core/main}}